<!DOCTYPE html>
<html lang="en">
<head>
  <title>Digital Shelf</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Digital Shelf</h1>
  <p>Цифровой двойник полки</p>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Ячейка 1</h3>
    </div>
    <div class="col-sm-4">
      <h3>Ячейка 2</h3>
    </div>
    <div class="col-sm-4">
      <h3>Ячейка 3</h3>        
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Ячейка 4</h3>
    </div>
    <div class="col-sm-4">
      <h3>Ячейка 5</h3>
    </div>
    <div class="col-sm-4">
      <h3>Ячейка 6</h3>        
    </div>
  </div>
</div>

</body>
</html>
